* {
    margin: 0;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: red;
    background-color: black;
    text-align: center;
    padding: 5%;
}
.foodRecipe a {
    padding-top: 25px;
    text-decoration: none;
    text-align: center;
    color: black;
    display:block;

}

.foodRecipe li {
    list-style: none;
}